  .App {
    text-align: center;
  }

  h6 {
    color: rgb(225, 255, 117);
    font-weight: bolder;
    margin: 0px 0px 5px 0px;
    font-size: large;
  }

  .upi {
    margin-left: 50%;
    transform: translate(-70px, 0px);
  }

  .qr {
    margin-left: 50%;
    height: 50vw;
    width: 50vw;
    transform: translate(-25vw, 0px);
  }

  h5 {
    font-size: medium;
  }

  .msgBtn {
    margin-bottom: 3vh;
    margin-top: 1.5vh;
  }

  .msgBtn h6 {
    margin-bottom: 2vh;
  }

  .modal {
    backdrop-filter: blur(7px);
  }

  .special_modal .modal-content {
    background: radial-gradient(100% 100% at 100% 0%, #060614 60%, rgb(4 18 46) 100%);
    color: #49ff3b;
    border-radius: 20px;
    border: 1px solid#b0b0b0;
    border-style: "groove";
    border-color: "#dcb600"
  }

  .special_modal2 .modal-content {
    background: radial-gradient(100% 100% at 100% 0%, #060614 60%, rgb(4 18 46) 100%);
    border-radius: 20px;
  }

  .whatsappModal .modal-content {
    background: radial-gradient(100% 100% at 100% 0%, #e9e9ea 60%, rgb(255, 255, 255) 100%);
    border-radius: 20px;
  }

  .special_modal {
    font-size: medium;
    font-style: normal;
  }

  .button {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 0px 10px;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #559d00 0%, rgb(31 192 0) 100%);
    box-shadow: 0px 4px 8px rgb(255 255 255 / 40%), 0px 7px 13px -3px rgb(233 221 0 / 30%), inset 0px -3px 0px #000000;
    border-radius: 6px;
    color: #fff;
    min-width: 35vw;
    height: 40px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }

  .button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #b7aeae;
    transform: translateY(-2px);
  }

  .button:active {
    box-shadow: inset 0px 3px 7px #a3a5b0;
    transform: translateY(2px);
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background: #1d2124;
    min-height: 100vh;
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }


  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .index {
    text-align: "center";
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .insideCard {
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    background: rgb(7, 14, 125);
    padding: 10px;
    border: 1px solid #fdff00;
    font-size: small;
    color: #fdff00;
    display: inline-flex;
  }

  .card {
    border: 1px solid#a6a6a6;
    border-style: "groove";
    border-color: "#dcb600";
    min-width: 85%;
    outline: 0px;
    border-radius: 20px;
    background: radial-gradient(100% 100% at 100% 0%, #060614 60%, rgb(3 19 48));
    padding: 8px;
    box-shadow: 0px 4px 8px rgb(255 255 255 / 40%), 0px 7px 13px -3px rgb(233 221 0 / 30%), inset 0px -3px 0px #000000;
  }

  #serviceName {
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 9px;
    margin-left: 27vw;
  }

  input {
    display: inline;
    width: 100%;
    padding: 0px;
    font-size: 16px;
    margin: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-stretch: semi-expanded;
    text-align: center;
    font-size: 4vw;
  }

  .cpybutton {
    height: 30px;
    width: 80px;
    margin-top: -3px;
    display: inline-block;
    outline: 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background: radial-gradient(100% 100% at 100% 0%, #3695e2 0%, rgb(80, 50, 215) 100%);
    font-weight: bold;
    border-radius: 6px;
    color: #fff;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  }

  .cpybutton:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #545b92;
    transform: translateY(-2px);
  }

  .cpybutton:active {
    box-shadow: inset 0px 3px 7px #575e92;
    transform: translateY(2px);
  }

  .paymentform {
    min-width: 100%;
    font-weight: bolder;
  }

  .paymentform div {
    justify-content: left;
    display: flex;
    height: 50px;
    padding-left: 14%;
  }

  .paymentOption h6 {
    border-radius: 12px 12px 0px 0px;
    background: radial-gradient(100% 100% at 100% 0%, #9c9d9a 0%, rgb(86, 87, 86) 100%);
    color: #fff;
    padding: 10px;
  }

  .paymentOption img {
    width: 100%;
  }

  .paymentOption form {
    justify-content: center;
    display: inline-flex;
    min-width: 100%;
  }


  .paymentOption {
    padding-bottom: 0%;
    color: #000000;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
  }

  .paymentOption input {
    width: 13%;
    padding-left: 3%;
  }

  .paymentOption label {
    display: inline-flex;
    margin: 0%;
  }

  .modal-header .close {
    display: none
  }

  .telegram-button {
    background-color: #0088cc;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    box-shadow: 0px 4px 8px rgb(255 255 255 / 40%), 0px 7px 13px -3px rgb(233 221 0 / 30%), inset 0px -3px 0px #000000;
    border-radius: 6px;
    color: #fff;
    min-width: 30vw;
    height: 40px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
  }

  .telegram-button a {
    color: #fff;
  }

  .telegram-button:hover {
    background-color: #0077b3;
  }