.selectAmountForm {
    color: white;
    min-width: 100%;
    font-weight: bolder;
}

.selectAmountForm div {
    justify-content: left;
    display: flex;
    height: 30px;
    padding-left: 15vw;
    margin: 2px 0px;
}


.paymentSelect h6 {
    border-radius: 12px 12px 0px 0px;
    background: #666a66;
    color: #fff;
    padding: 10px;
}

.paymentSelect form {
    justify-content: center;
    display: inline-flex;
    min-width: 100%;
}

.paymentSelectTitle {
    font-weight: bolder;
    font-size: 20px;
    background: radial-gradient(100% 100% at 100% 0%, #559d00 0%, rgb(31 192 0) 100%);
    border-radius: 16px 16px 0px 0px;
    padding: 10px;
    color: #fff;
}

.paymentSelect {
    padding-bottom: 0%;
    color: #000000;
    border-radius: 12px;
    text-align: center;
}

.paymentSelect input {
    width: 10%;
    padding-left: 3%;
}

.paymentSelect label {
    display: inline-flex;
    margin: 0%;
    font-size: medium;
}